<header id='header' class='header-blog'>
  <div class='l-wrapper header-body'>
    <%= link_to 'http://www.crowdint.com' do %>
      <h1 class='header-logo'>
        <span class='is-hidden'>Crowd Interactive</span>
      </h1>
    <% end %>

    <ul class='nav header-nav'>
      <li class='nav-item'><%= link_to 'Services', 'http://www.crowdint.com/services', id: 'we-do-menu', class: 'nav-link header-nav-link' %></li>
      <li class='nav-item'><%= link_to 'Case Studies', 'http://www.crowdint.com/case-studies', id: 'portfolio-menu', class: 'nav-link header-nav-link' %></li>
      <li class='nav-item'><%= link_to 'Magmaconf', 'http://www.magmaconf.com/', id: 'magmaconf-menu', class: 'nav-link header-nav-link' %></li>
      <li class='nav-item'><%= link_to "Let's Chat", 'http://www.crowdint.com/contact-us', id: 'contact-menu', class: "button button-blog header-button" %></li>
    </ul>

    <div class='header-mobile-menu header-mobile-blog'></div>
  </div>
</header>
